<div class="main-panel">
    <div class="left-side">
        <img class="left-side__logo_img" src="../../../assets/images/logo.jpg">
        <span class="left-side__logo_name">Good&Food Cafe</span>
    </div>
    
    <div class="right-side">
        <div class="nav">
            <span class="right-side__item">Меню</span>
            <span class="right-side__item">О нас</span>
            <span class="right-side__item">Контакты</span>
            <span class="right-side__item">Условия доставки</span>
            <span>|</span>
        </div>
        
        <div class="shopping-cart">
            <app-shopping-cart>
            </app-shopping-cart>
        </div>
    </div>
</div>